
$_blockName: 'recipes';

$_recipesItemWidth: 25%;
$_recipesItemPadding: 70px;
$_recipesItemHeight: 280px;


@include block($_blockName) {
	@include clearfix();
	width: 100%;
	@include e(head) {
		@include clearfix();
		width: 100%;
		border-bottom: 1px solid $color_coal;
		padding-bottom: 20px;
		margin-bottom: 20px;
		@include e(filters) {
			@include clearfix();
			width: 50%;
			float: left;
			text-align: left;
			padding-right: 20px;
			h1 {
				@include fontSize(theta);
				font-family: $font_ministerBold;
				margin-bottom: 30px;
			}
			@include e(filters__headline, "h1") {
				font-family: $font_ministerBold;
				margin-bottom: 30px;
			}
			ul {
				@include clearfix();
				display: block;
				margin: 0;
				padding: 0;
				list-style: none;
				float: left;
				width: 50%;
				padding-right: 10px;
				& + ul {
					padding-left: 10px;
					padding-right: 0;
				}
				li {
					display: block;
					width: 100%;
					position: relative;
					margin-bottom: 7px;
				}
				@include e(filters__name) {
					@include fontSize(gamma);
					width: 100%;
					color: $color_darkgrey;
				}
			}
		}
		@include e(display) {
			width: 50%;
			float: right;
			text-align: right;
			padding-left: 20px;
		}
	}
	@include e(list) {
		@include clearfix();
		display: block;
		padding: 0;
		margin: 0;
		margin-right: -$_recipesItemPadding;
		margin-bottom: 10px;
	}
	@include e(recipe) {
		@include transition(all 600ms ease);
		@include translate(0px, 0px);
		display: block;
		float: left;
		width: $_recipesItemWidth;
		height: $_recipesItemHeight;
		padding-right: $_recipesItemPadding;
		//padding-bottom: $_recipesItemPadding;
		padding-bottom: 30px;
		overflow: hidden;
		&.ng-enter {
			@include translate(0px, 10px);
			opacity: 0;
		}
		&.ng-enter-active {
			@include translate(0px, 0px);
			opacity: 1;
		}
		&.ng-leave {
			//opacity: 1;
			opacity: 0;
			display: none;
		}
		&.ng-leave-active {
			opacity: 0;
		}
		@include m(enter) {
			background-color: red;
			opacity: 1;
		}
		@include m(leave) {
			background-color: blue;
			opacity: 0;
		}
	}
	@include e(recipe__content) {
		@include clearfix();
		//background-color: hotpink;
		width: 100%;
		//height: 100%;
		position: relative;
		display: block;
	}
	@include e(recipe__headline) {
		display: block;
		min-height: 40px;
		margin-bottom: 10px;
	}
	@include e(recipe__headline, "h2") {
		margin-bottom: 10px;
	}
	@include e(recipe__desc) {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}