doctype html
html(data-ng-app="Nordgourmet")
	head
		title Nord gourmet
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='http://fast.fonts.net/cssapi/1e457648-3309-409a-bd99-0042ef6cab84.css')
		link(rel='stylesheet', href='/css/nordgourmet.min.css')
		// Main app js
		script(src='/scripts/head.min.js')
		block head
	body
		block body
		div.nordgourmet
			block glovalVars


			header.logo
				img(src="/img/logo.png", alt="Nord Gourmet")

			block content



			div.footer
				div.footer__left NORD Gourmet ApS, CVR 35667644, Kokbjerg 14, 6000 Kolding, tlf. +45 23 9779 00
				div.footer__right
					ul.inlinelist
						li.inlinelist__item
							a.icon.icon--facebook(href="http://facebook.com/NORDGourmet", target="_blank", title="Facebook")
						li.inlinelist__item
							a.icon.icon--instagram(href="http://instagram.com/nordgourmet", target="_blank", title="Instagram")
						li.inlinelist__item
							a.icon.icon--linkedin(href="https://www.linkedin.com/company/5167199?trk=tyah&trkInfo=tarId%3A1398326032482%2Ctas%3Anord%20gour%2Cidx%3A1-1-1", target="_blank", title="Linkedin")
						li.inlinelist__item
							a.icon.icon--twitter(href="https://twitter.com/NORDGourmet", target="_blank", title="Twitter")
						li.inlinelist__item
							a.icon.icon--pinterest(href="http://pinterest.com/amollert/nord-urban-gourmet-food", target="_blank", title="Pinterest")
						li.inlinelist__item
							a.icon.icon--foursquare(href="https://foursquare.com/v/nord-urban-gourmet-food-kolding-south-denmark/532ac6df498e33b6e705292e", target="_blank", title="Foursquare")


		script(src='/scripts/nordgourmet.min.js')