doctype html
html(data-ng-app="Nordgourmet")
	head
		title Nord gourmet
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='http://fast.fonts.net/cssapi/1e457648-3309-409a-bd99-0042ef6cab84.css')
		link(rel='stylesheet', href='/css/nordgourmet.css')
		// Main app js
		script(src='/scripts/head.js')
		block head
	body
		block body
		div.nordgourmet
			block glovalVars


			header.logo
				img(src="/img/logo.png", alt="Nord Gourmet")

			block content



			//section.container
				div.container__inner
					div.cluster.cluster--line3.cluster--autoHeight
						div.cluster__list
							div.cluster__item
								div.cluster__inner
									a.splash(href="#")
										img(src="http://placehold.it/300x300")
										div.splash__text
											span.fontsize.fontsize--eta Menu
							div.cluster__item
								div.cluster__inner
									a.splash(href="#")
										img(src="http://placehold.it/300x300")
										div.splash__text
											span.fontsize.fontsize--eta Om nord
							div.cluster__item
								div.cluster__inner
									a.splash(href="#")
										img(src="http://placehold.it/300x300")
										div.splash__text
											span.fontsize.fontsize--eta Foodtruck

			//section.container
				div.container__inner
					div.container__content
						div.cluster.cluster--line3.cluster--autoHeight
							div.cluster__list
								div.cluster__item
									div.cluster__inner
										a.splash(href="#")
											img(src="http://placehold.it/300x300")
											div.splash__text
												span.fontsize.fontsize--eta Menu
								div.cluster__item
									div.cluster__inner
										a.splash(href="#")
											img(src="http://placehold.it/300x300")
											div.splash__text
												span.fontsize.fontsize--eta Om nord
								div.cluster__item
									div.cluster__inner
										a.splash(href="#")
											img(src="http://placehold.it/300x300")
											div.splash__text
												span.fontsize.fontsize--eta Foodtruck

			//section.container
				div.container__inner
					div.container__content Content

			div.footer
				div.footer__left © Copyright by NORD. All rights reserved
				div.footer__right
					ul.inlinelist
						li.inlinelist__item
							a.icon.icon--facebook(href="http://facebook.com/NORDGourmet", target="_blank", title="Facebook")
						li.inlinelist__item
							a.icon.icon--instagram(href="http://instagram.com/nordgourmet", target="_blank", title="Instagram")
						li.inlinelist__item
							a.icon.icon--linkedin(href="https://www.linkedin.com/company/5167199?trk=tyah&trkInfo=tarId%3A1398326032482%2Ctas%3Anord%20gour%2Cidx%3A1-1-1", target="_blank", title="Linkedin")
						li.inlinelist__item
							a.icon.icon--twitter(href="https://twitter.com/NORDGourmet", target="_blank", title="Twitter")
						li.inlinelist__item
							a.icon.icon--pinterest(href="http://pinterest.com/amollert/nord-urban-gourmet-food", target="_blank", title="Pinterest")
						li.inlinelist__item
							a.icon.icon--foursquare(href="https://foursquare.com/v/nord-urban-gourmet-food-kolding-south-denmark/532ac6df498e33b6e705292e", target="_blank", title="Foursquare")




			//block globalVars
				- var brandClasses = "brand";
				- var headerClasses = "l__header";
				- var footerClasses = "l__footer";
			//div(class="#{brandClasses}")
				header(class="#{headerClasses}")
					div.l__header__content
						block layoutHeader
						a.l__header__logo(href="/")
						div.l__header__search
							input(type="text", placeholder="Søg")
						div.l__header__social
							span Social Link
							span Login link
						nav.l__header__nav
							ul
								li
									a Startseite
								li
									a Rezepte
								li
									a Alles über Käse
								li
									a Marken & proukte
								li
									a Gewinne & coupons

				div.l__content
					div.l__content__inner
						block layoutContent


				footer(class="#{footerClasses}")
					div.l__footer__content
						block layoutFooter

		script(src='/scripts/nordgourmet.js')