
/* Grid
---------------------------------------------------------------*/

$__gridSize: 24;
$__gridSpacing: 10px;


$__blockName: 'grid';

@include block($__blockName) {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	min-height: 1px;
	position: relative;
	width: 100%;
	@for $i from 1 through $__gridSize {
		@include m(#{$i}) {
			width: 100% / $__gridSize * $i;
		}
	}
	@include mediaQueries(tablet){
		$__gridSizeNew: 12;
		@for $i from 1 through $__gridSize {
			@include m(#{$i}) {
				$__scale: $__gridSize / $__gridSizeNew;
				width: (100% / ($__gridSize) * $i) * $__scale;
			}
		}
	};
	@include mediaQueries(tablet){
		$__gridSizeNew: 6;
		@for $i from 1 through $__gridSize {
			@include m(#{$i}) {
				$__scale: $__gridSize / $__gridSizeNew;
				width: (100% / ($__gridSize) * $i) * $__scale;
			}
		}
	};
}




//@for $i from 1 through $__gridSize {
	//Procent grid
	//.grid-#{$i} {
	//	float: left;
	//	width: 100% / $__gridSize * $i;
	//	min-height: 1px;
	//	position: relative;
	//	&.grid-space-left {
	//		padding-left: $__gridSpacing/2;
	//	}
	//	&.grid-space-left:only-child {
	//		padding-left: $__gridSpacing;
	//	}
	//	&.grid-space-right {
	//		padding-right: $__gridSpacing/2;
	//	}
	//	&.grid-space-right:only-child {
	//		padding-right: $__gridSpacing;
	//	}
	//	$gridName: "grid-#{$i}";
	//}
//}
