
$__blockName: 'splash';

$__min_height: 100px;
$__max_height: 1000px;
$__height_interval: 100px;
$__num_of_heights: ($__max_height - $__min_height) / $__height_interval;

@include block($__blockName) {
	position: relative;
	width: 100%;
	height: 100%;
	@include e(item) {
		@include fill();
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		img {
			display: block;
		}
	}
	@for $i from 0 through $__num_of_heights {
		$_height: $i * $__height_interval + $__min_height;
		$_height_no_px: $_height / ($_height * 0 + 1); // Convert to int
		@include m(height#{$_height_no_px}) {
			height: $_height;
		}
	}
	@include mediaQueries(tablet){
		@for $i from 0 through $__num_of_heights {
			$_height: $i * $__height_interval + $__min_height;
			$_height_no_px: $_height / ($_height * 0 + 1); // Convert to int
			@include m(height#{$_height_no_px}) {
				height: $_height / 1.6;
			}
		}
	};
	@include mediaQueries(mobile){
		@for $i from 0 through $__num_of_heights {
			$_height: $i * $__height_interval + $__min_height;
			$_height_no_px: $_height / ($_height * 0 + 1); // Convert to int
			@include m(height#{$_height_no_px}) {
				height: $_height / 2;
			}
		}
	};
}

