extends ../master

block append head

block append body

block append content

	section.container
		div.container__inner
			div.splash.splash--height700
				div.splash__text
					span.fontsize.fontsize--kappa Foodtruck
				div.splash__item(style="background-image:url(img/content/1200x700/foodtruck.jpg)")

	section.container
		div.container__inner
			div.container__content
				include ../blocks/breadcrumb

	section.container
		div.container__inner
			div.container__content
				div.pane(data-ng-controller="PaneCtrl")
					div.pane__nav
						div.pane__link(data-ng-click="switchPane(1, '')", data-ng-class="{'pane__link--active': checkActive(1)}") Foodtrucken
					div.pane__container
						div.pane__item(data-ng-class="{'pane__item--active': checkActive(1)}")
							h1 Gourmet i streethøjde
							p
								| Vores foodtruck kører i hele landet og overalt, hvor der er mange mennesker samlet på et sted:
								br
								| Ved events, til firmaarrangementer og kick offs, i centrum af byer og ved de store indfaldsveje.
							p
								| Du kan via vores facebookside:
								| &nbsp
								a(href="http://facebook.com/NORDGourmet", target="_blank") facebook.com/NORDGourmet
								| &nbsp
								| altid se, hvor vi er placeret.
							p Næste stop er
							ul
								li
									| 4.-10. maj i Eurovision Village på Gammeltorv i København i forbindelse med Det internationale melodigrandprix.
									br
									br
								li 6.-10. august på Skanderborg Festival