extends ../master

block append head

block append body

block append content

	section.container
		div.container__inner
			div.splash.splash--height700
				div.splash__text
					span.fontsize.fontsize--kappa Forberedelse
				div.splash__item(style="background-image:url(img/content/1200x700/_MG_6917.jpg)")

	section.container
		div.container__inner
			div.container__content
				include ../blocks/breadcrumb

	section.container
		div.container__inner
			div.container__content
