extends ../layout

block append head2
	link(rel='stylesheet', href='/css/brand/geramont/geramont.css')
block append globalVars2
	- brandClasses += " geramont";
	- headerClasses += " l__header--ripped";
	- footerClasses += " l__footer--ripped";
block append brandHeader
	include ../blocks/geramont_nav
block append brandContent
	div.geramont__content
		div.brand__paper
			aside.brand__paperAside.geramont__widgetlist
				include ../blocks/widget_recipe
				div.seperator
				include ../blocks/widget_recipe
				div.seperator
				include ../blocks/widget_recipe
				div.seperator
				include ../blocks/widget_recipe

			section.brand__paperMain
				include ../blocks/breadcrumb

				div.productlist.geramont__productlist
					- for (var i = 0; i < 4; i++)
						div.productlist__item
							div.productlist__item__img
								img(src="http://placehold.it/260x220")
							div.productlist__item__content
								h1 ProductCategory
								p Weichkäse von Géramont - ein Genuss für die Sinne! Ob pur, auf Brot oder in kalten und warmen Rezepten - genießen Sie verführerische Cremigkeit à la Française.
								ul
									- for (var m = 0; m < Math.floor((Math.random()*10)+1); m++)
										li
											a Product #{m}