extends ../master

block append head

block append body

block append content

	section.container
		div.container__inner
			a.splash.splash--height700(href="menu.html")
				div.splash__text
					span.fontsize.fontsize--kappa Menu
				div.splash__item(style="background-image:url(img/content/1200x700/_MG_6922.jpeg)")

	section.container
		div.container__inner
			div.cluster.cluster--line3.cluster--autoHeight
				div.cluster__list
					div.cluster__item
						div.cluster__inner
							a.splash(href="forberedelse.html")
								img(src="img/content/350x350/_MG_6917.jpeg")
								div.splash__text
									span.fontsize.fontsize--eta Forberedelse
					div.cluster__item
						div.cluster__inner
							a.splash(href="om_nord.html")
								img(src="img/content/350x350/06Jonas-Fotografi.jpg")
								div.splash__text
									span.fontsize.fontsize--eta Om nord
					div.cluster__item
						div.cluster__inner
							a.splash(href="foodtruck.html")
								img(src="img/content/350x350/foodtruck.jpg")
								div.splash__text
									span.fontsize.fontsize--eta Foodtruck