extends ../master

block append head

block append body

block append content

	section.container
		div.container__inner
			a.splash.splash--height500(href="https://nordgourmet.cli.andhype.com", target="_blank")
				div.splash__text
					span.fontsize.fontsize--kappa Bestil her
				div.splash__item(style="background-image:url(/img/content/1200xrandom/_MG_6917_justeret.jpg)")

	section.container
		div.container__inner
			div.cluster.cluster--line4.cluster--autoHeight
				div.cluster__list

					div.cluster__item
						div.cluster__inner
							a.splash(href="/forberedelse.html")
								img(src="/img/content/350x350/forberedelse.jpg")
								div.splash__text
									span.fontsize.fontsize--eta Forberedelse
					div.cluster__item
						div.cluster__inner
							a.splash(href="/om_nord.html")
								img(src="/img/content/350x350/06Jonas-Fotografi.jpg")
								div.splash__text
									span.fontsize.fontsize--eta Om nord


					div.cluster__item
						div.cluster__inner
							a.splash(href="/menu.html")
								img(src="/img/content/350x350/_MG_6922_justeret.jpg")
								div.splash__text
									span.fontsize.fontsize--eta Menu


					div.cluster__item
						div.cluster__inner
							a.splash(href="/foodtruck.html")
								img(src="/img/content/350x350/foodtruck.jpg")
								div.splash__text
									span.fontsize.fontsize--eta Foodtruck
