extends ../master

block append head

block append body

block append content


	section.container
		div.container__inner
			div.splash.splash--height500(data-ng-controller="SplashCtrl", data-imgsrc="/img/content/1200x700/_MG_6922_justeret.jpg")
				div.splash__text
					span.fontsize.fontsize--kappa Menu
				div.splash__item(style="background-image:url(/img/content/1200x700/_MG_6922_justeret.jpg)", data-ng-style="data.itemCss")

	section.container
		div.container__inner
			div.container__content
				include ../blocks/breadcrumb


	section.container
		div.container__inner
			div.container__content
				div.pane(data-ng-controller="PaneCtrl")
					div.pane__nav
						div.pane__link(data-ng-click="switchPane(1, '')", data-ng-class="{'pane__link--active': checkActive(1)}") Menu
						//div.pane__link(data-ng-click="switchPane(2, '/img/content/1200x700/_MG_6843.jpg')", data-ng-class="{'pane__link--active': checkActive(2)}") Øvrige lækkerier
					div.pane__container
						div.pane__item(data-ng-class="{'pane__item--active': checkActive(1)}")

							div.menu
								div.grid.grid--12
									div.splash
										img(src="img/content/480xrandom/aeske.jpg")
									div.splash
										img(src="img/content/480x384/envisionbranchebar.jpg")
								div.grid.grid--12.grid--spaceleft
									h1.menu__title.font.fontsize--theta Smørrebrødstapas
									div.menu__desc
										p Smørrebrødstapas er NORDs sunde alternativ, når du skal have take away.  Vi har samlet smag, kvalitet og sundhed til seks forskellige himmerrigsstykker, fra varmrøget laks til dansk brie. Uden smør.
										p NORDs rugbrød er lavet efter egen opskrift på svedje rug, og er både sundt og groft. Svedje rug er en gammel nordisk kornsort, der i dag dyrkes 100% økologisk, og som har positive egenskaber, hvad angår konsistens, holdbarhed og smag. Det kalder vi fastfood på gourmet-niveau.
										p Pakket i vores smarte take away box er den klar til at følge dig på farten, hvor du end skal hen. Smart fordi:
										ul
											li boxen er nem at tage med
											li du pakker et stykke ud ad gangen mens resten holder sig friske i æsken
											li du spiser dem med fingrene
											li det er mad lavet fra bunden og det smager godt
											li de er sunde og nærende
										p Vi anbefaler vores smørrebrødstapas til udflugter, picnic, arrangementer ude af huset eller bare som en lækker madpakke.
										p
											| Æske med 6 forskellige himmerrigsstykker
											br
											b Kr. 99,-
										br
										p Det er også muligt at bestille vores smørrebrødstapas på store træfade til møder, kundebesøg, firmaarrangementer, konferencer og selskaber.

							div.menu
								div.grid.grid--12
									div.splash
										img(src="img/content/480x384/nordisktapasbr.jpg")
								div.grid.grid--12.grid--spaceleft
									h1.menu__title.font.fontsize--theta Nordisk Tapasbræt
									div.menu__desc
										p NORD laver gourmetmad i øjenhøjde helt ud til dig.
										p Nordisk Tapasbræt, der byder på en variation af små lækkerier.
										p Smukt anrettet på et stort træfad eller portionsanrettet på små træfade. Perfekt hvor du skal hygge lidt mere om gæsterne - hvor middagen bliver det sociale samlingspunkt.
										p Nordisk Tapasbræt med diverse delikatesser. Hver dag noget nyt men altid fisk, kød, tilbehør, sunde salater, brød, snacks og sødt.
										p
											b Kr. 139,-/ pers.

							div.menu
								div.grid.grid--12
									div.splash
										img(src="img/content/480x384/nordisktapas.jpg")
								div.grid.grid--12.grid--spaceleft
									h1.menu__title.font.fontsize--theta Fredagsboxen
									div.menu__desc
										p NORD har skabt Fredagsboxen for at imødekomme det stigende behov for sund mad i en fart. Vi laver hver fredag en ny spændende Fredagsbox - nok til fire personer.
										p Med Fredagsboxen ønsker vi at gøre det nemt for dig at gå afslappet på weekend og med god samvittighed. I hyggeligt samvær med familie eller gode venner, kan I slappe af til smagen af god og sund hjemmelavet mad. Det er gourmet mad i øjenhøjde og lige til at sætte på bordet.
										p Fredagsboxen er en godtepose med 12 forskellige små tapas ting. Pakket ind enkeltvis. Lige til at lægge på fadet og sætte på bordet.  Lad dig hver uge overraske med kokkens valg.
										p
											b Boxen indeholder hver uge:
										p NORDs knasende sprøde rugbrøds crunch med timian, læsøsalt og dip. Fisk, kød samt salater efter kokkens valg, hjemmebagte NORD boller samt en sød ting.
										p Fredagsboxen er tænkt til dig, der:
										ul
											li gerne bare vil kunne slappe af fredag med god mad, men uden at lave noget
											li beslutter at “fredag bestiller vi take away” og kan hente på vejen hjem
											li skal på tur og har brug for nem og god mad at tage med
											li bare gerne vil prøve noget nyt, sundt og lækkert
										p Fredagsbox med 12 forskellige tapas til 4 personer
										p
											b Kr. 299,- / box

							div.menu
								div.grid.grid--12
									div.splash
										img(src="img/content/480x384/nordudtryk.jpg")
								div.grid.grid--12.grid--spaceleft
									h1.menu__title.font.fontsize--theta Frokostordninger
									div.menu__desc
										p Fra vores køkken på Kokbjerg i Kolding laver vores kokke hver dag frokost til medarbejdere og virksomheder. Frokostmenuen varierer hver dag, dog altid med fokus på sund mad lavet fra bunden og med et nordisk element.
										p Mangler du eller din virksomhed en frokostordning, så laver vi også gerne mad til jer. NORD tilbyder både faste samt fleksible frokostordninger.
										p Du kan også hente din dag-til-dag frokost hos os.
										p
											b Afhentning / levering
											br
											| Din frokost kan ved forudbestilling afhentes hos NORD, Kokbjerg 14, i Kolding.
										p Vi leverer gerne til jer ved bestillinger på min. 20 personer.
										//ul
											li Lun ret med tilbehør, to spændende salater, pålæg, brød og smør
											li Snack forret, lun ret med tilbehør, to spændende salater, pålægsfad, brød og smør samt dessert/kage
											li 6 stk. Smørrebrødstapas i lunchbox
											li Wraps
											li Salater

										//p Lun ret med tilbehør, to spændende salater, pålæg, brød og smør.
											br
											b Kr. 49,-
										//p Snack forret, lun ret med tilbehør, to spændende salater, pålægsfad, brød og smør samt dessert/kage.
											br
											b Kr. 69,-
										//p 6 stk. Smørrebrødstapas i lunchbox.
											br
											b Kr. 99,-
										//p
											| Wraps
											b Kr. 49,-
											br
											| Salater&nbsp
											b Kr. 59,-
										p
											b Kr. 59,-

							div.menu
								div.grid.grid--12
									div.splash
										img(src="img/content/480x384/fotokokbjerg.jpg")
								div.grid.grid--12.grid--spaceleft
									h1.menu__title.font.fontsize--theta Inhouse arrangementer hos NORD
									div.menu__desc
										p Skal NORDs hyggelige og nordisk indrettede konferencelokale på Kokbjerg danne rammen om dit næste arrangement?
										p Vi har plads til op til 100 mennesker og tilbyder forskellige konferencepakker til virksomheds- eller netværksmøder, receptioner, arrangementer m.m.
										p Ring og hør nærmere. Vi sammensætter et program efter dine ønsker og behov.

							div.menu
								div.grid.grid--12
									div.splash
								div.grid.grid--12.grid--spaceleft
									div.menu__desc
										p Finder du ikke, hvad du leder efter i ovenstående, så kontakt os for yderligere information på info@nordgourmet.com eller 23977900

						//
							div.menu
								div.grid.grid--12
									div.splash
										img(src="/img/content/480x384/_MG_6918_justeret.jpg")
								div.grid.grid--12.grid--spaceleft
									div.menu__number.font.fontsize--delta No. 01
									h1.menu__title.font.fontsize--theta Roastbeef
									div.menu__desc.font.fontsize--epsilon
										p Roastbeef med hjemmelavet grov remoulade, syltede skallotteløg, høvlet peberrod og brøndkarse.
							div.menu
								div.grid.grid--12
									div.splash
										img(src="/img/content/480x384/_MG_6921.jpg")
								div.grid.grid--12.grid--spaceleft
									div.menu__number.font.fontsize--delta No. 02
									h1.menu__title.font.fontsize--theta Hvidløgspaté
									div.menu__desc.font.fontsize--epsilon
										p Hvidløgspate med syltede rødbeder, rå beder, ristet rugbrøds crush samt rødbedspirer.
							div.menu
								div.grid.grid--12
									div.splash
										img(src="/img/content/480x384/_MG_6917_justeret.jpg")
								div.grid.grid--12.grid--spaceleft
									div.menu__number.font.fontsize--delta No. 03
									h1.menu__title.font.fontsize--theta Avocado
									div.menu__desc.font.fontsize--epsilon
										p Avocado på Stegt kartoffel med mozzarella, pesto og grovchips.
							div.menu
								div.grid.grid--12
									div.splash
										img(src="/img/content/480x384/foto5.jpg")
								div.grid.grid--12.grid--spaceleft
									div.menu__number.font.fontsize--delta No. 04
									h1.menu__title.font.fontsize--theta Hønsesalat
									div.menu__desc.font.fontsize--epsilon
										p Hønsesalat, lavet på skyr og mayonnaise, med asparges, bacon og hakket rødløg.
							div.menu
								div.grid.grid--12
									div.splash
										img(src="/img/content/480x384/foto7.jpg")
								div.grid.grid--12.grid--spaceleft
									div.menu__number.font.fontsize--delta No. 05
									h1.menu__title.font.fontsize--theta Braiseret aubergine
									div.menu__desc.font.fontsize--epsilon
										p Braiseret aubergine m. courgetter, løgrelish tomater og purløg.
							div.menu
								div.grid.grid--12
									div.splash
										img(src="/img/content/480x384/_MG_6919_justeret.jpg")
								div.grid.grid--12.grid--spaceleft
									div.menu__number.font.fontsize--delta No. 06
									h1.menu__title.font.fontsize--theta Røget laks
									div.menu__desc.font.fontsize--epsilon
										p Røget laks, med rygeostcreme, fennikel og dild.
							div.menu
								div.grid.grid--12
									div.splash
										img(src="/img/content/480x384/foto6.jpg")
								div.grid.grid--12.grid--spaceleft
									div.menu__number.font.fontsize--delta No. 07
									h1.menu__title.font.fontsize--theta Æggekage
									div.menu__desc.font.fontsize--epsilon
										p Æggekage med bacon og purløgscreme.

							div.menu
								div.grid.grid--12
									div.splash
										img(src="/img/content/480x384/foto8.jpg")
								div.grid.grid--12.grid--spaceleft
									div.menu__number.font.fontsize--delta No. 08
									h1.menu__title.font.fontsize--theta Dansk brie
									div.menu__desc.font.fontsize--epsilon
										p Dansk brie med syltede valnødder og lucernespirer.


					div.pane__item(data-ng-class="{'pane__item--active': checkActive(2)}")
						div.grid.grid--24
							h1 NORD delikatesser, anretninger  & frokostordninger
						div.grid.grid--12.grid--spaceright
							p Fra vores køkken på Kokbjerg 14 i Kolding kan du bestille vores smørrebrøds tapas og andre nordiske delikatesser:
							ul
								li
									| Nordisk tapas bræt med diverse delikatesser og sødt. Kr. 139,- pr. pers.
									br
									br
								li
									| Fredagsboxen: Nordisk inspireret tapas efter kokkens valg. Lige til at sætte på bordet fredag aften. Nok til 4 personer. Kr. 249,-
									br
									br
									| Hver uge noget nyt, f.eks.: Bulgursalat m/ fennikel/gulerod/rødbede sautè, Broccolisalat m/oliventapenade & saltmandler, Kyllingeruller m/rygeostcreme, Skinkespyd m/purløgscreme, Kartofler med mozarella og pesto, Rugbrødsstænger m/ rød peberfrugtcreme, Kyllingestrimler m/chili, Oliven, brød og smør, Chokoladekage med mascarponecreme.
									br
									| Praktisk info:
									br
									br
									| Betaling: Mobile Pay, kort eller kontant.
									br
									br
									| Bestilling & afhentning: Fredagsboxen bestilles senest torsdag og afhentes fredag på NORDs adresse.

								//li
									| Fredagsboxen: Nordisk tapas. Efter kokkens valg. Lige til at sætte på bordet fredag aften. Nok til 3-4 personer.
									| Kr. 199,-
									br
									| Hver uge noget nyt. F.eks. Bulgursalat m/ fennikel/gulerod/rødbede sautè, Broccolisalat m/oliventapenade & saltmandler, Kyllingeruller m/rygeostcreme, Skinkespyd m/purløgscreme, Kartofler med mozarella og pesto, Rugbrødsstænger m/ rød peberfrugtcreme, Kyllingestrimler m/chili, Oliven, brød og smør, Chokoladekage med mascarponecreme.
						div.grid.grid--12.grid--spaceleft
							p Herudover leverer vi frokostordninger til virksomheder:
							ul
								li
									| Lun ret + tilbehør, to spændende salater. Pålægsfad, brød og smør kr. 49,-
									br
									br
								li Snack forret, lun ret + tilbehør, to spændende salater. Pålægsfad, brød og smør, desserrt/kage kr. 69,-
							p For alle gælder: bestilling senest kl 21.00 dagen inden. via tlf 23 9779 00 eller info@nordgourmet.com
							p Afhentning hverdage mellem 12.00-16.00. Vi leverer gerne v/ over 20 personer.
							p Vi skræddersyr også gerne udfra dine ønsker. Kontakt os for yderligere.



