extends ../layout

block append head2
	link(rel='stylesheet', href='/css/brand/geramont/geramont.css')
block append globalVars2
	- brandClasses += " geramont";
	- headerClasses += " l__header--ripped";
	- footerClasses += " l__footer--ripped";
block append brandHeader
	include ../blocks/geramont_nav
block append brandContent
	div.geramont__content
		div.frame
			img(src="http://placehold.it/950x406")
		div.brand__paper
			section.brand__paperMain

				include ../blocks/breadcrumb



