extends ../layout

block append head2
	link(rel='stylesheet', href='/css/brand/geramont/geramont.css')
block append globalVars2
	- brandClasses += " geramont";
	- headerClasses += " l__header--ripped";
	- footerClasses += " l__footer--ripped";
block append brandHeader
	include ../blocks/geramont_nav
block append brandContent
	div.geramont__content
		div.brand__paper

			section.brand__paperMain
				include ../blocks/breadcrumb

				section.recipes
					div.recipes__head
						div.recipes__filters
							h1 FiltersHeadline
							ul
								li.recipes__filters__headline SearchHeadline
								li
									div.select(data-select-group="category") Forret & Suppe
								li
									div.select(data-select-group="category") Frokost
								li
									div.select(data-select-group="category") Hovedret
								li
									div.select(data-select-group="category") Desert
								li
									div.select(data-select-group="category") Snacks & madpakker
							ul
								li.recipes__filters__headline SearchHeadline
								li
									div.select
										div.select__selected(data-select-value="1") 1
										div.select__list
											div.select__item.select_item--active(data-select-value="1") 1
											div.select__item(data-select-value="2") 2
											div.select__item(data-select-value="3") 3
											div.select__item(data-select-value="4") 4
								li
									div.select
										div.select__selected(data-select-value="1") 1
										div.select__list
											div.select__item.select_item--active(data-select-value="1") 1
											div.select__item(data-select-value="2") 2
											div.select__item(data-select-value="3") 3
											div.select__item(data-select-value="4") 4
								li
									div.select
										div.select__selected(data-select-value="1") 1
										div.select__list
											div.select__item.select_item--active(data-select-value="1") 1
											div.select__item(data-select-value="2") 2
											div.select__item(data-select-value="3") 3
											div.select__item(data-select-value="4") 4
								li
									div.select
										div.select__selected(data-select-value="1") 1
										div.select__list
											div.select__item.select_item--active(data-select-value="1") 1
											div.select__item(data-select-value="2") 2
											div.select__item(data-select-value="3") 3
											div.select__item(data-select-value="4") 4
								li
									div.select
										div.select__selected(data-select-value="1") 1
										div.select__list
											div.select__item.select_item--active(data-select-value="1") 1
											div.select__item(data-select-value="2") 2
											div.select__item(data-select-value="3") 3
											div.select__item(data-select-value="4") 4

						div.recipes__display
							img(src="http://placehold.it/350x250")

					div.recipes__list
						- for (var i = 0; i < 12; i++)
							div.recipes__recipe
								div.recipes__recipe__content
									img(src="http://placehold.it/215x130")
									h2 RecipeName #{i}
									div.difficulty.difficulty--d1
									div.time 35 min



