extends ../layout

block append head2
	link(rel='stylesheet', href='/css/brand/geramont/geramont.css')
block append globalVars2
	- brandClasses += " geramont";
	- headerClasses += " l__header--ripped";
	- footerClasses += " l__footer--ripped";
block append brandHeader
	include ../blocks/geramont_nav
block append brandContent
	div.geramont__content
		div.frame
			img(src="http://placehold.it/950x406")
		div.brand__paper
			section.brand__paperMain

				include ../blocks/breadcrumb

				h1.brand__headline Géramont - Die cremigste Einladung, das Leben zu genießen
				p Géramont ist ein französisches Original, mit festen Wurzeln in den Vogesen, einem Landstrich im Osten Frankreichs mit langer Käsetradition. Und weil Tradition wichtig ist, wird Géramont dort auch heute noch hergestellt.

				div.historie
					div.historie__line.historie__line--1898
						div.historie__year 1898
						div.historie__content
							div.historie__text
								| Fromagerie Gérard  blev grundlagt af Eugéne Gerard i den lille bjerglandsby Le Tholy, beliggende i hjertet af  Vosges i Lorraine regionen.
								br
								| Her producerede man hvidskimmel ost baseret på mælk leveret af lokale landmænd.
							div.historie__image
					div.historie__line.historie__line--1935
						div.historie__year 1935
						div.historie__content
							div.historie__text
								| Géramont blev produceret for første gang i Frankrig og navnet registreret som varemærke.
							div.historie__image
					div.historie__line.historie__line--1973
						div.historie__year 1973
						div.historie__content
							div.historie__text
								| Géramont blev introduceret på markedet i den nuværende ovale form og i en eksklusiv æske. Samtidig blev den innovative produktionsmetode, for perfekt modning, udviklet.
							div.historie__image
					div.historie__line.historie__line--2001
						div.historie__year 2001
						div.historie__content
							div.historie__text
								| Géramont Caracteré blev udviklet: Den perfekte kombination af hvidskimmel og rødkit ost med en udsøgt smag og exceptionel cremethed.
							div.historie__image
					div.historie__line.historie__line--2003
						div.historie__year 2003
						div.historie__content
							div.historie__text
								| Géramont Yoghourt blev udviklet. Ved at tilsætte frisk yoghurt til den originale opskrift til Géramont kom en helt ny frisk smag til verden. Mindre fedt men masser af smag og cremethed.
							div.historie__image
